// Fonts
$font_primary: 'Roboto', sans-serif;

// Media queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$color_primary: #e8505b;
$color_secondary: #455a64; 
$color_black: #000;
$color_white: #FFFFFF;
$color_grey: #eceeef;

// Colros
$spacing: 5rem;
