@use 'base/vars';
@use 'base/mixins';

.form {



    &__grid {
        @include mixins.tablet {
            @include mixins.grid(2, vars.$spacing);
        }
    }

    &__content {
        background-color: vars.$color_primary;
        padding: vars.$spacing;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    &__heading {
        color: vars.$color_white;
        text-align: center;
    }

    &__field {
        margin-bottom: 1rem;    
    }
    
    &__label {
        display: block;
        text-transform: uppercase;
        color: vars.$color_white;
        margin: 1rem 0;
    }
    
    &__input {
        width: 100%;
        padding: 1.5rem;
        border: none;
    }
    
    &__submit {
        margin-top: 2rem;
        @include mixins.button( vars.$color_secondary, vars.$color_white );
        @include mixins.tablet {
            width: 100%;
        }
    }

    &__image-container {
        margin-top: vars.$spacing;
        display: flex;
        justify-content: center;
    }

    &__image {
        width: 30rem;
        @include mixins.desktop {
            width: 100%;
        }
    }
}