@use 'base/vars';
@use 'base/mixins';

.form {



    &__grid {
        @include mixins.tablet {
            @include mixins.grid(2, vars.$spacing);
        }
    }

    &__content {
        background-color: vars.$color_primary;
        padding: vars.$spacing;
    }
    
    &__heading {
        color: vars.$color_white;
        text-align: center;
    }

    &__image-container {
        margin-top: vars.$spacing;
        display: flex;
        justify-content: center;
    }

    &__image {
        width: 30rem;
        @include mixins.desktop {
            width: 100%;
        }
    }
}