@use 'base/vars';
@use 'base/mixins';

.testimonials {
    padding: vars.$spacing 0;

    &__heading {
        text-align: center;
    }

    &__grid {
        @include mixins.tablet {
            @include mixins.grid( 5, 2rem);
        }
    }
}

.testimonial {
    background-color: vars.$color_secondary;
    border-radius: 1rem;
    color: vars.$color_white;
    padding: 2rem;
    margin-bottom: 2rem;

    &:last-of-type {
        margin-bottom: 0;
    }

    @include mixins.tablet {
        margin-bottom: 0;

        &:nth-child( 1 ){
            grid-column: 1 / 4;
        }
        &:nth-child( 3 ){
            grid-column: 5 / 6;
            grid-row: 1 / 3;
        }
        &:nth-child( 4 ){
            grid-column: 1 / 3;
        }
        &:nth-child( 5 ){
            grid-column: 3 / 5;
        }
    }

    &__header {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__image {
        flex-basis: 10rem;
        border-radius: 50%;
        overflow: hidden;
    }

    &__author {
        color: vars.$color_white;
        font-weight: 700;
        margin: .5rem 0;
    }

    &__text {
        font-size: 2rem;
        line-height: 1.5;
        margin: 2rem 0 0 0;
        padding-left: 2rem;
        position: relative;

        &::before {
            content: ' " ';
            font-size: 8rem;
            position: absolute;
            left: 0;
            top: -4rem;
            opacity: .3;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
}