@use 'base/vars';
@use 'base/mixins';


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: vars.$spacing;

    @include mixins.desktop {
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo {
        width: 30rem;
        margin-bottom: 5rem;
    
        @include mixins.desktop {
            margin-bottom: 0;
        }
    }

}