@use 'base/vars';
@use 'base/mixins';

.footer {
    background-color: vars.$color_secondary;
    padding: 2rem 0 0 0;

    &__widget {
        color: vars.$color_white;
        padding: 2rem 0 4rem 0;
    }

    &__heading {
        margin: 0;
        text-align: center;
    }

    &__copy {
        background-color: vars.$color_primary;
        color: vars.$color_white;
        margin: 0;
        padding: 2rem 0;
        font-size: 1.2rem;
        text-align: center;
    }
}