@use 'base/vars';
@use 'base/mixins';

.favorites {
    background-color: vars.$color_grey;
    padding: vars.$spacing 0;

    &__heading {
        text-align: center;
        color: vars.$color_secondary;
    }

    &__grid {
        @include mixins.tablet {
            @include mixins.grid( 2, 4rem );
        }
    }
}